body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.banner {
  width: 100vw;
  height: 80vh;
  background-color: green;
  background-image: url("https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/mgm-AZ_05436M-Full-Image_GalleryBackground-en-US-1484348608985._RI_.jpg");
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}
.linear_grediant_baner {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    //bottom
    rgb(0, 0, 0),
    // top
    rgba(68, 68, 68, 0.068)
  );
}
.Netflix {
  color: red;
}
.Navbar_div {
  width: 100vw;
  display: flex;
  //   background-color: aquamarine;
  padding: 0px 10px;
  position: fixed;
  z-index: 2;
  //   background-color: gray;
}
.list_ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.list_ul li {
  margin-left: 20px;
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}
.list_ul li:hover {
  color: red;
  font-size: 1.3rem;
}
.search_div {
  position: absolute;
  right: 25vw;
  //   background-color: royalblue;
}
.after_search_ul {
  position: absolute;
  right: 100px;
  display: flex;
  list-style-type: none;
  align-items: center;
}
.after_search_ul li {
  margin-left: 20px;
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}
.after_search_ul li:hover {
  color: red;
}
.testsearch {
  color: white;
}
.grid_items {
  //     background-color: yellow;
  margin: 0;
  padding: 0;
}
// ----------------------------------------------------Banerinfo
.info {
  //   background-color: yellowgreen;
  width: 40vw;
  position: absolute;
  top: 30vh;
  left: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   z-index: 1;
}
.info ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.info ul li button {
  width: 13vw;
  border: none;
  background-color: rgba(128, 128, 128, 0.288);
  margin: 15px;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  padding: 5px;
}
.info ul li button:hover {
  background-color: red;
}
// -------------------search div
.sarch_outerdiv {
  padding-top: 30vh;
  background-color: black;
}
.cancel {
  position: absolute;
  top: 25vh;
  right: 20px;
  color: red;
  cursor: pointer;
}
